---
import { Trans } from "astro-i18next/components";
import i18next, { t, changeLanguage } from "i18next";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";

changeLanguage("en");

const isSpanish = i18next.language === "es";
---

<BaseLayout title={t("cv.title")} description={t("cv.description")} sideBarActiveItemID="cv">

  <div class="flex justify-end">
    <a class="whitespace-nowrap bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" href={isSpanish ? "/docs/cv-es.pdf" : "/docs/cv-en.pdf"} target="_blank" >
      <span>{t("links.curriculum")}</span>
      <svg class="w-5 h-5 ml-2 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill:currentColor;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
    </a>
  </div>

  <div class="mb-5">
    <h2 class="text-3xl font-bold">{t("cv.summary-t")}</h2>
  </div>

  <div class="mb-10">
    <Trans i18nKey="cv.summary-d">
      <br></br>
    </Trans>
  </div>

  <div class="mb-5">
    <h2 class="text-3xl w-full font-bold">{t("cv.experience-t")}</h2>
  </div>

  <div class="time-line-container">

    <TimeLineElement
      title={t("cv.projects.pro.magic-media.title")}
      subtitle={t("cv.projects.pro.magic-media.subtitle")}
      description={t("cv.projects.pro.magic-media.description")}
      projects={[
        {
          title: t("cv.projects.pro.magic-media.0.title"),
          subtitle: t("cv.projects.pro.magic-media.0.subtitle"),
          description: t("cv.projects.pro.magic-media.0.description"),
          images: [{url: "/images/slots/3.webp", alt: "Imagen 1"}],
          slug: "pogo-slots",
          url: "https://www.pogo.com/games/pogo-slots"
        }
      ]}
    />

    <TimeLineElement
      title={t("cv.projects.pro.monti-games.title")}
      subtitle={t("cv.projects.pro.monti-games.subtitle")}
      description={t("cv.projects.pro.monti-games.description")}
      projects={[
        {
          title: t("cv.projects.pro.monti-games.0.title"),
          subtitle: t("cv.projects.pro.monti-games.0.subtitle"),
          description: t("cv.projects.pro.monti-games.0.description"),
          images: [{url: "/images/risk/1.webp", alt: "Imagen 1"}],
          slug: "risk-pogo-domination",
          url: "https://www.pogo.com/games/risk-pogo-domination"
        },
        {
          title: t("cv.projects.pro.monti-games.1.title"),
          subtitle: t("cv.projects.pro.monti-games.1.subtitle"),
          description: t("cv.projects.pro.monti-games.1.description"),
          images: [{url: "/images/yahtzee/1.webp", alt: "Imagen 1"}],
          slug: "yahtzee-wild",
          url: "https://www.pogo.com/games/yahtzee-wild"
        },
        {
          title: t("cv.projects.pro.monti-games.2.title"),
          subtitle: t("cv.projects.pro.monti-games.2.subtitle"),
          description: t("cv.projects.pro.monti-games.2.description"),
          images: [{url: "/images/scrabble/1.webp", alt: "Imagen 1"}],
          slug: "scrabble",
          url: "https://www.pogo.com/games/scrabble"
        }
      ]}
    />

    <TimeLineElement
    title={t("cv.projects.per.title")}
    subtitle={t("cv.projects.per.subtitle")}
    description={t("cv.projects.per.description")}
      projects={[
        {
          title: t("cv.projects.per.0.title"),
          subtitle: t("cv.projects.per.0.subtitle"),
          description: t("cv.projects.per.0.description"),
          images: [{url: "/images/touch-the-coin/0.png", alt: "Imagen 1"}],
          slug: "touch-the-coin",
          url: "https://frasquitogames.itch.io/touch-the-coin"
        },
        {
          title: t("cv.projects.per.1.title"),
          subtitle: t("cv.projects.per.1.subtitle"),
          description: t("cv.projects.per.1.description"),
          images: [{url: "/images/pet-balls/1.png", alt: "Imagen 1"}],
          slug: "pet-balls",
          url: "https://frasquitogames.itch.io/pet-balls"
        },
        {
          title: t("cv.projects.per.2.title"),
          subtitle: t("cv.projects.per.2.subtitle"),
          description: t("cv.projects.per.2.description"),
          images: [{url: "/images/projects-thumbnail.png", alt: "Imagen 1"}],
          url: "https://frasquitogames.com"
        }
      ]}
    />
  </div>

  <div class="mb-5">
    <h2 class="text-3xl w-full font-bold">{t("cv.education-t")}</h2>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title={t("cv.education-tl-t1")} subtitle={t("cv.education-tl-s1")}/>
    <TimeLineElement title={t("cv.education-tl-t2")} subtitle={t("cv.education-tl-s2")}/>
  </div>

  <div class="mb-5">
    <h2 class="text-3xl w-full font-bold">{t("cv.technologies-t")}</h2>
  </div>

  <div class="mb-2">
    <h3 class="font-semibold mb-1">{t("cv.technologies-s1")}</h3>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>Cocos Creator</li>
    <li>Unity</li>
    <li>Godot</li>
    <li>PhaserJS</li>
    <li>SFML</li>
  </ul>

  <div class="mb-2">
    <h3 class="font-semibold mb-1">{t("cv.technologies-s2")}</h3>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>JavaScript</li>
    <li>C/C++</li>
    <li>C#</li>
    <li>HTML</li>
    <li>CSS</li>
  </ul>

  <div class="mb-2">
    <h3 class="font-semibold mb-1">{t("cv.technologies-s3")}</h3>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>Git</li>
    <li>Perforce</li>
    <li>Slack</li>
    <li>Jira</li>
    <li>Basecamp</li>
  </ul>

  <div class="mb-5">
    <h2 class="text-3xl w-full font-bold">{t("cv.skills-t")}</h2>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>{t("cv.skill-1")}</li>
    <li>{t("cv.skill-2")}</li>
    <li>{t("cv.skill-3")}</li>
    <li>{t("cv.skill-4")}</li>
    <li>{t("cv.skill-5")}</li>
  </ul>
</BaseLayout>