---
import BaseLayout  from '../layouts/BaseLayout.astro';
const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout sideBarActiveItemID="home">
	<div class="pb-12 mt-5">
		<div class="text-xl py-1">Hola, bienvenido 👋</div>
		<div class="text-5xl font-bold">Soy Rubén Rodríguez</div>
		<div class="text-3xl py-3 font-bold">Ingeniero Multimedia y Desarrollador de Videojuegos</div>
		<div class="py-2">
		  <text class="text-lg">
			Tras finalizar mis estudios en 2017, he estado <b>desarrollando videojuegos</b> tanto de forma independiente como <b>profesionalmente</b>.
		  </text>

		 	<br>
			<br>

		  <text class="text-lg">
			Fundé mi <b>propia marca, <a href="https://frasquitogames.com/" target="_blank"><u>Frasquito Games</u></a></b>, bajo la cual publico mis juegos y he trabajado en <b>proyectos profesionales</b> para empresas importantes en el <b>sector, como Electronic Arts</b>.
		  </text>

		  	<br>
			<br>

		  <text class="text-lg">
			<b>Navega por esta web</b> para obtener más detalles <a href={baseUrl + "/cv"}><u>sobre mí</u></a> y mis <a href={baseUrl + "/projects"}><u>proyectos</u></a>.
		  </text>
		</div>
		<div class="mt-8">
		  <a class="btn" href="https://twitter.com/irubi_rp" target="_blank"> Twit-me</a>
		  <text class="text-lg m-3"> o </text>
		  <a class="btn" href="mailto:contact.rubi_almansa@hotmail.com" target="_blank" referrerpolicy="no-referrer-when-downgrade"> Mail-me</a>
		  <text class="text-lg m-3"> para contactarme. </text>
		</div>
	  </div>

	  <div>
		<div class="text-3xl w-full font-bold mb-2">Proyectos profesionales (<a href="https://pogo.com/" target="_blank"><u>Pogo</u></a>, Electronic Arts)</div>
	  </div>
	
	
	  <div>
		<div class="text-3xl w-full font-bold mb-5 mt-10">Proyectos personales (<a href="https://frasquitogames.com/" target="_blank"><u>Frasquito Games</u></a>)</b></div>
	  </div>
</BaseLayout>