---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

import { HeadHrefLangs } from "astro-i18next/components";
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<script>
	const notFirstTime = localStorage.getItem('notFirstTime');
	const navLang = navigator.language.split('-')[0];
	const firstLang = document.documentElement.getAttribute("lang");
	const matches = (navLang === firstLang);
	if(!notFirstTime){
		localStorage.setItem('notFirstTime', 'true');
		if(!matches){
			if(navLang === 'es') 	window.location.href = '';
			else 					window.location.href = "/en";
		}
	}
</script>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={"/favicon.svg"} />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Href Langs -->
<HeadHrefLangs />