---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
const baseUrl = import.meta.env.BASE_URL;
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href={baseUrl} >Visitar</a></li>
    <li><a class="py-3 text-base" id="projects" href="https://frasquitogames.com/" target="_blank">Juegos</a></li>
</ul>